body
{
	margin:0;
	padding:0;
	height:100vh;
	position: relative;
}
#particles-js
{
	height:100%;
	background:white;
	position: relative;
}
#main{
	height:100%;
	background:white;
	position: relative;

}
.content{
	position: absolute;
	top: 0;
}
.body{
	position: absolute;
	color: white;
	text-align: : center;
	z-index: 10;
	transform: translate(-50%,-50%);
}