#logo{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
            animation: fill-anim .5s ease forwards 15.8s;
		}
		#logo path:nth-child(2){
			stroke-dasharray: 340px;
			stroke-dashoffset: 340px;
            animation: line-anim 0.5s ease forwards 10s;
			
		}
		#logo path:nth-child(3){
			stroke-dasharray: 290px;
			stroke-dashoffset: 290px;
            animation: line-anim 2s ease forwards 10.5s;
		}
		#logo path:nth-child(4){
			stroke-dasharray: 152px;
			stroke-dashoffset: 152px;
            animation: line-anim 2s ease forwards 10.8s;
		}
		#logo path:nth-child(5){
			stroke-dasharray: 504px;
			stroke-dashoffset: 504px;
            animation: line-anim 2s ease forwards 10.8s;
		}
		#logo path:nth-child(6){
			stroke-dasharray:310px;
			stroke-dashoffset:310px;
            animation: line-anim 2s ease forwards 11.5s;
		}
		#logo path:nth-child(7){
			stroke-dasharray: 351px;
			stroke-dashoffset: 351px;
            animation: line-anim 2s ease forwards 12s;
		}
		#logo path:nth-child(8){
			stroke-dasharray: 310px;
			stroke-dashoffset: 310px;
            animation: line-anim 2s ease forwards 12.5s;
		}
		#logo path:nth-child(9){
			stroke-dasharray: 225px;
			stroke-dashoffset: 225px;
            animation: line-anim 2s ease forwards 13s;
		}
		#logo path:nth-child(10){
			stroke-dasharray: 310px;
			stroke-dashoffset: 310px;
            animation: line-anim 2s ease forwards 13.5s;
		}
		#logo path:nth-child(11){
			stroke-dasharray: 340px;
			stroke-dashoffset: 340px;
            animation: line-anim 2s ease forwards 14s;
		}
		#logo path:nth-child(12){
			stroke-dasharray: 228px;
			stroke-dashoffset: 228px;
            animation: line-anim 2s ease forwards 14.5s;
		}
        @keyframes line-anim{
            to{
                stroke-dashoffset:0;
            }
        }
        @keyframes fill-anim{
            to{
             fill:white;
            }
        }